<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldofdrinkraft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldOfDrinkraft">
        <activity android:name=".architecture.presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".architecture.presentation.PlayersSetupActivity"
            android:label="@string/player_setup_label">

        </activity>

        <activity
            android:name=".architecture.presentation.RoleListActivity"
            android:label="@string/role_list_label">

        </activity>

        <activity
            android:name=".architecture.presentation.RoleWatchActivity"
            android:label="@string/role_watch_label">

        </activity>
    </application>

</manifest>